.form_container{
    width: 70%;
    margin-left: 15%;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_input, .form button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_input{
    font-family: "Montserrat Alternates", sans-serif;
    background-color: transparent;
    color: #404040;
    font-size: 16px;
    border: 1px solid #BC354F;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 65px;
    background-image: url(../../assets/email-form.svg);
    background-repeat: no-repeat;
    background-position: 5%;
}
.form_input::placeholder{
    font-size: 16px;
}

.form_input:focus{
    outline: 2px solid #BC354F;
}

.form_btn{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 18px;
    color: #f9f9f9;
    background-color: transparent;
    border-radius: 8px;
    border: transparent;
    padding: 10px 15px;
    cursor: pointer;
    transition: border 1s ;
    background-color: #BC354F
}

.form_btn:hover{
    border: 1px solid #792435;
}

.form p{
    font-size: 16px;
    cursor: pointer;
}